* {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}


.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

[class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.col-width-25percents {
    width: 25%;
}

.col-width-50percents {
    width: 50%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}