.background-page-2
{
    background-color: #17c2a4;
}


.main-description-frame>div{
    text-align: center;
    line-height: 28px;
    font-size: 18px;
}

.main-page-2-service-frame{
    margin-top: 50px;
    display: block;
    text-decoration: none;
    color: white;
    padding-bottom: 50px;
}

.main-page-2-service-frame:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

[class^="main-page-2-service-image"]{
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
}

.main-page-2-service-image1{
    background-image: url(pics/flag_icon.png);
}

.main-page-2-service-image2{
    background-image: url(pics/crayon_icon.png);
}

.main-page-2-service-image3{
    background-image: url(pics/gears_icon.png);
}

.main-page-2-service-image4{
    background-image: url(pics/rocket_icon.png);
}



